body {
  background-image: url('../images/earth.jpg'); 
  background-attachment: fixed;
  background-position: center;
}

#map {
  height: 90vh;
  width: 100%;
}

.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.desc {
	color:white;
}

.temp {
	color:white;
}

.input {
	text-align: center;
	margin: 50px;
}
	
input[type="text"]{
	height: 30px;
	width; 600px; 
	font-size: 15px; 
	padding: 1px;
}

input[type="submit"]{
	height: 36px;
	width; 650px; 
	font-size: 15px; 
	padding: 1px;
}

.display {
	text-align: center;
	font: 25px/20px 'OCR A', Arial, Helvetica, sans-serif;
}